* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 80%;
}

/* .container:hover {
    color: black;
} */

.title {
    border-bottom: 0.01em solid rgb(181, 181, 181);
    font-size: 3em;
    font-weight: 700;
    padding-bottom: 0.3em;
    margin-top: 0.4em;
}

.list {
    color: rgb(0, 132, 255);
    transition: color 0.3s;
}

.list:hover {
    color: black;
}

.item {
    cursor: pointer;
    border-bottom: 0.01em solid rgb(181, 181, 181);
    transition: 0.3s;
}

.item[open] {
    color: black;
}

.content {
    padding: 0.9em 0 0.9em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .content:hover {
    color: black;
} */

.text {
    font-size: 1.5em;
    font-weight: 700;
}

/* .fa .fa-plus {
    display: none;
} */

.fa .fa-plus:hover {
    display: block;
}

img {
    height: 100%;
    width: 40%;
}

@media (max-width: 820px) {
    body {
        cursor: none;
    }

    .item {
        cursor: none;
    }

    .title {
        font-size: 2em;
    }

    .text {
        font-size: 1em;
    }
}

@media (max-width: 320px) {
    .title {
        font-size: 1em;
    }

    .text {
        font-size: 0.5em;
    }
}